.container{
    display: flex;
}

.texto{
    
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
}

.imagen img{
    width: 500px;
    height: 600px;
    border-radius: 5%;
}

h1{
    font-family: "Pattaya", sans-serif;
}